#logoMenu, #logoFooter {
    max-width: 120px;
}

#principal{
    min-height: 300px;
    margin-top: 88px;
}

.accion:hover, .imgChooser:hover{
    cursor: pointer;
}

.bi:hover{
    font-size: 1.05rem;
}

.width-100{
    width: 100%;
}

.display-none{
    display: none !important;
}