<section class="col-md-3 border p-5">
  <div class="row">
    <div class="col-md-12 text-center">
      <img src="{{rutaImagen}}" class="img-polaroid profile-img img-thumbnail " />
    </div>

    <div class="col-md-12  text-center">

      <div class="row">
        <div class="col-md-12 text-center">
          <h2 class="text-primary">
            {{nombre}}
          </h2>
          <p class="fw-light">
            {{descripcion}}
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <form action="/votante/chooseOption" method="post">
            <input type="hidden" value="{{id}}" name="idOpcion" />
            <input type="hidden" value="{{idVotacion}}" name="idVotacion" />
            {{#isChecked}}
            <input type="radio" class="btn-check" id="radio{{id}}" autocomplete="off" checked value="{{id}}">
            <label class="btn btn-outline-primary width-100" for="radio{{id}}">Seleccionado</label>
            {{/isChecked}}
            {{^isChecked}}
            <button type="submit" class="btn btn-outline-primary width-100" value="opcion{{id}}">Seleccionar</button>
            {{~isChecked}}
          </form>
        </div>
      </div>
    </div>
  </div>
</section>