
<article id="Votar" class="p-4 border bg-light">
    <!-- Confirmation Modal -->
    <section class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
      aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Confirmación de Votación</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body d-flex justify-content-center">
            <div class="col-md-6 border p-5 align-middle">
              <div class="row">
                <div class="col-md-12 text-center">
                  <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                    class="img-polaroid profile-img img-thumbnail " />
                </div>

                <div class="col-md-12  text-center">

                  <div class="row">
                    <div class="col-md-12 text-center">
                      <h2 class="text-primary">
                        John Doe
                      </h2>
                      <p class="fw-light">Graduado de ingeniería en sistemas de la Universidad Nacional (UNA), John es
                        un apasionado por la gente y busca mejorar el estilo de vida de todas las personas</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-outline-success">Realizar Votación</button>
          </div>
        </div>
      </div>
    </section>

    <h1 class="text-center mb-4">Realice su votación</h1>
    <div class="container">
      <div class="row bg-white">
        <!-- Primera opcion de voto -->
        <section class="col-md-3 border p-5">
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar7.png"
                class="img-polaroid profile-img img-thumbnail " />
            </div>

            <div class="col-md-12  text-center">

              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="text-primary">
                    John Doe
                  </h2>
                  <p class="fw-light">Graduado de ingeniería en sistemas de la Universidad Nacional (UNA), John es un
                    apasionado por la gente y busca mejorar el estilo de vida de todas las personas</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="radio" class="btn-check" name="user_vote" id="pick1" autocomplete="off">
                  <label class="btn btn-outline-primary width-100" for="pick1">Seleccionar</label>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Segunda opcion de voto -->
        <section class="col-md-3 border p-5">
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                class="img-polaroid profile-img img-thumbnail " />
            </div>

            <div class="col-md-12  text-center">

              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="text-primary">
                    Elias Estelo
                  </h2>
                  <p class="fw-light">Con grandes estudios es la Universidad de Orgrimmar En Azeroth, Elias es un gran
                    visionario que busca darle oportunidades por igual a todos</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="radio" class="btn-check" name="user_vote" id="pick2" autocomplete="off">
                  <label class="btn btn-outline-primary width-100" for="pick2">Seleccionar</label>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Tercera opcion de voto -->
        <section class="col-md-3 border p-5">
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                class="img-polaroid profile-img img-thumbnail " />
            </div>

            <div class="col-md-12  text-center">

              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="text-primary">
                    Zacarías Chan
                  </h2>
                  <p class="fw-light">Experimentado economista graduado de la Universidad de Costa Rica (UCR). Tras
                    pasar una década fuera del país, ahora busca ayudar a el país con su experiencia</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="radio" class="btn-check" name="user_vote" id="pick3" autocomplete="off">
                  <label class="btn btn-outline-primary width-100" for="pick3">Seleccionar</label>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Cuarta opcion de voto -->
        <section class="col-md-3 border p-5">
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar3.png"
                class="img-polaroid profile-img img-thumbnail " />
            </div>

            <div class="col-md-12  text-center">

              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="text-primary">
                    Susan Storm
                  </h2>
                  <p class="fw-light">Susan Storm es una reconocida sindicalista graduada de la UTN, con vasta
                    experiencia en
                    la lucha por los derechos de los trabajadores y especialmente las mujeres</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="radio" class="btn-check" name="user_vote" id="pick4" autocomplete="off">
                  <label class="btn btn-outline-primary width-100" for="pick4">Seleccionar</label>
                </div>
              </div>
            </div>
          </div>
        </section>


        <!-- Quinta opcion de voto -->
        <section class="col-md-3 border p-5">
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar4.png"
                class="img-polaroid profile-img img-thumbnail " />
            </div>

            <div class="col-md-12  text-center">

              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="text-primary">
                    Estonio Castro
                  </h2>
                  <p class="fw-light">Visionario emprendedor de la zona de los santos. Busca mejorar los procesos para
                    emprender en el país e invertir en educación</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="radio" class="btn-check" name="user_vote" id="pick5" autocomplete="off">
                  <label class="btn btn-outline-primary width-100" for="pick5">Seleccionar</label>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Sexta opcion de voto -->
        <section class="col-md-3 border p-5">
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar5.png"
                class="img-polaroid profile-img img-thumbnail " />
            </div>

            <div class="col-md-12  text-center">

              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="text-primary">
                    Carlos Castro
                  </h2>
                  <p class="fw-light">Famoso futbolista nacional, ahora busca incursionar en la política y hacer un
                    cambio fuera de las canchas junto a su experimentado equipo</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="radio" class="btn-check" name="user_vote" id="pick6" autocomplete="off">
                  <label class="btn btn-outline-primary width-100" for="pick6">Seleccionar</label>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Septima opcion de voto -->
        <section class="col-md-3 border p-5">
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar6.png"
                class="img-polaroid profile-img img-thumbnail " />
            </div>

            <div class="col-md-12  text-center">

              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="text-primary">
                    Santiago Pérez
                  </h2>
                  <p class="fw-light">Reconocido empresario de Barrio Escalante con ideas liberalistas. Busca mejorar
                    el desempleo y ayudar a desahogar a la clase media</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="radio" class="btn-check" name="user_vote" id="pick7" autocomplete="off">
                  <label class="btn btn-outline-primary width-100" for="pick7">Seleccionar</label>
                </div>
              </div>
            </div>
          </div>
        </section>

        <!-- Octaba opcion de voto -->
        <section class="col-md-3 border p-5">
          <div class="row">
            <div class="col-md-12 text-center">
              <img src="https://bootdey.com/img/Content/avatar/avatar8.png"
                class="img-polaroid profile-img img-thumbnail " />
            </div>

            <div class="col-md-12  text-center">

              <div class="row">
                <div class="col-md-12 text-center">
                  <h2 class="text-primary">
                    Melisa Sancho
                  </h2>
                  <p class="fw-light">Periodista con experiencia internacional, busca mejorar el índice de pobreza y
                    reducir la brecha entre clases sociales y mejorar la educación</p>
                </div>
              </div>
              <div class="row">
                <div class="col-12">
                  <input type="radio" class="btn-check" name="user_vote" id="pick8" autocomplete="off">
                  <label class="btn btn-outline-primary width-100" for="pick8">Seleccionar</label>
                </div>
              </div>
            </div>
          </div>
        </section>

      </div>
      <div class="d-grid gap-2 col-6 mx-auto mt-5">
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">
          Confirmar Votación
        </button>
      </div>
    </div>

  </article>