<!doctype html>
<html>

<head>
  {{> headSitioInterno}}
</head>


{{#isMain}}
<body class="d-flex flex-column min-vh-100">
{{/isMain}}
{{^isMain}}
<body>
{{~isMain}}
   {{> headerSitioInterno}}
  <main id="principal" class="container">

    {{#isVote}}
    {{> /votacion/votar}}
    {{/isVote}}

    {{#isCreateVote}}
    {{> /votacion/create}}
    {{/isCreateVote}}
    
    {{#showVotesManteinment}}
    <section id="SeleccionarVotacion" class="pt-88 border bg-light mt-5 p-5">
      <article>
        <section>
          {{> /votacion/index}}
        </section>
      </article>
    </section>
    {{/showVotesManteinment}}
    {{#isEditVote}}
    <section id="ModificarVotacion" class="m-3 pt-88">
      <article>
        <section>
          {{> /votacion/edit}}
        </section>
      </article>
    </section>
    {{/isEditVote}}
    
    <section id="modales">
      <!-- Modal Deactivar-->
      <div class="modal fade" id="modalDesactivar" tabindex="-1" aria-labelledby="labelDesactivar" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="labelDesactivar">Desactivar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Desea desactivar el elemento seleccionado?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button id="AccionDesactivar" type="button" class="btn btn-danger"
                data-bs-dismiss="modal">Desactivar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Activar-->
      <div class="modal fade" id="modalActivar" tabindex="-1" aria-labelledby="labelDesactivar" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="labelDesactivar">Desactivar</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¿Desea activar el elemento seleccionado?
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button id="AccionActivar" type="button" class="btn btn-success" data-bs-dismiss="modal">Activar</button>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section id="toastMensajes">
      <div class="position-fixed bottom-0 end-0 p-3" style="z-index: 11">
        <div id="GuardadoExitoso" class="toast hide" role="alert" aria-live="assertive" aria-atomic="true">
          <div class="toast-header">
            <strong class="me-auto">Guardado exitoso</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
          </div>
          <div class="toast-body">
            Se ha guardado los cambios correctamente.
          </div>
        </div>
      </div>
    </section>
  </main>
  {{> footerSitioInterno}}
</body>

</html>