<!doctype html>
<html>

<head>
  {{> headSitioInterno}}
</head>


{{#isMain}}

<body class="d-flex flex-column min-vh-100">
  {{/isMain}}
  {{^isMain}}

  <body>
    {{~isMain}}
    {{> headerSitioInterno}}
    <main id="principal" class="container">

      {{#isVote}}
      {{> /votante/vote}}
      {{/isVote}}

      {{#isCreateVote}}
      {{> /votacion/create}}
      {{/isCreateVote}}

      {{#showVotesManteinment}}
      {{> /votacion/index}}
      {{/showVotesManteinment}}

      {{#showPendingVotes}}
      {{> /votante/index}}
      {{/showPendingVotes}}

      {{#showVotesResults}}
      {{> /resultados/index}}
      {{/showVotesResults}}

      {{#isEditVote}}
      {{> /votacion/edit}}
      {{/isEditVote}}

      {{#resultsDetails}}
      {{> /resultados/resultsDetails}}
      {{/resultsDetails}}

      <section id="toastMensajes">
        {{#MostrarMensaje}}
        {{> /toadsAlerts/ToastAlert}}
        {{/MostrarMensaje}}
      </section>
    </main>
    {{> footerSitioInterno}}
  </body>

</html>