<section id="NuevoVotacion" class="m-5 pt-88">
    <article>
        <section>
            <form action="/votacion" method="post">
                {{#votacion}}
                <h1 class="text-center">Crear votación</h1>
                <input type="hidden" value="{{id}}" name="id" required>
                <input type="hidden" value="{{idEstado}}" name="idEstado" required>
                <input type="hidden" value="{{idEstado}}" name="idEstado" required>
                <input type="hidden" value="{{totalOpciones}}" name="totalOpciones" required>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label fs-3 mt-2">Titulo votación:</label>
                        <input type="text" class="form-control" value="{{descripcion}}" placeholder="Ingrese el titulo de la votación" name="descripcion">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label fs-3 mt-2">Fecha y hora de inicio:</label>
                        <input type="text" class="form-control" value="{{fechaHoraInicio}}" placeholder="ingrese una fecha y hora de inicio, en formato YYYY-MM-DD HH:MM:SS.SSS" name="fechaHoraInicio">
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-12">
                        <label class="form-label fs-3 mt-2">Fecha y hora de cierre</label>
                        <input type="text" class="form-control" value="{{fechaHoraFin}}" placeholder="ingrese una fecha y hora de cierre, en formato YYYY-MM-DD HH:MM:SS.SSS" name="fechaHoraFin">
                    </div>
                </div>
                {{/votacion}}
                <h3 class="text-secondary mt-3 mb-3">Listado de opciones</h3>
                <div class="container">
                    <div class="row bg-white" id="ListaOpcionesAgregar">
                        <!-- Listado de opciones -->
                        {{#opciones}}
                        {{> /votacion/option}}
                        {{/opciones}}
                        
                        <!-- Nueva opción -->
                        {{> /votacion/newOption}}
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto mt-5">
                        <button type="submit" class="btn btn-outline-success" id="GuardadoExitosoBtn">
                            Guardar
                        </button>
                    </div>
                </div>
            </form>
        </section>
    </article>
</section>