<h2 class="text-center">Listado de resultados</h2>

<div class="cards mt-5 mb-5">
    <div class="row row-cols-3 g-4">
        {{#resultados}}
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img src="{{rutaImagen}}" class="card-img-top">
                <div class="card-body">
                    <div class="col">
                        <h5 class="card-title" style="text-align: center;"> {{opcion}}</h5>
                    </div>
                    <div class="col">
                        <p class="card-text">Cantidad de votos obtenidos: {{cantidad}}</p>
                    </div>
        
                </div>
            </div>
        </div>
        {{/resultados}}
      </div>    
</div>
